body{
    margin: 0;
    padding: 0;
    
   
}
.h1{
    text-align: center;
}
.header-content{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('banner1.jpg');   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px ;
    text-align: center;
    color: #fff;
        

}
.img1{
    width: 170px;
    float: left;
}
.login-btn{
 width: 100px;
 padding:8px 0 ;
 outline: none;
 border: 2px solid #fff;
 border-radius: 50px;
 background: transparent;
 color: #fff;
 float: right;   
 text-decoration: none;

}
.login-btn:hover{
    color: red;
}
.header-content h1{
    padding-top:260px;
    font-size: 50px;
}
.header-content p{
    margin:18px 0;
    
}
.input-group{
    width: 90%!important;
margin: auto;
   border-radius: 30px;
   background: #fff; 
   padding: 2px;

}
.input-group input{
    border-radius: 200px;    
}
.input-group-append{
    padding: 10px;
}
.form-control{
    border: 0 !important;
    border-radius:30px 0 0 30px !important;
    margin: 2px;
    box-shadow: none;
}
.input-group-text{ 
    width: 100px;
    border-radius: 30px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    color: #fff;
    border: 0!important;
    padding: 0 25px;
    box-shadow: none;
}
/* features */
.features{
    padding: 100px 0;
}
.features h1{
    padding-bottom: 30px;
}
.featured-img img{
    width: 100% ;
}
.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    padding: 10px;
    font-weight: 600;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px lightgray;
    position: absolute;
    left: 10px;
    bottom:-27px ;
}
.featured-img{
    position: relative;

}
.rating{
    padding: 3px;
    float: right;
    background: #fff;
    right:0;
   
    position: relative;
    bottom: 20px; 
    
}
.features .fas{
    font-size: 15px;
    color: #ff5722;
}
.feature-details{
    padding: 20px;
    text-align: 
    justify;
}
.feature-details h4{
    font-weight: 600;
    margin-top: 20px;
}
.feature-details .fas{
    margin-right: 5px;
}
.feature-box{
    box-shadow: 3px 3px 10px lightslategrey ;
    
    margin-top: 20px;
    border-radius: 20px;
}
/* gallery */
.gallery{
    padding: 100px 0;
    background: #efefef;
}
.gallery-box{
  width: 100%;
  
  cursor: pointer;
}
.gallery h1{
    margin-bottom: 20px;
}
.gallery-box img{
    width: 100%;
    border-radius:15px;
    transition: 1s;
}
.gallery-box img:hover{
    transform: scale(1.1); 
    
}
.gallery-box h4{
    display: block;
    color: white;
    text-shadow:-2px 2px 2px #000 ;
    
         
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate();
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}
.banner{
    height:80vh;
    background-image: url('banner2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top:14%;
}
.banner-highlight{
    padding: 70px 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
}
.booking-btn {
    width: 120px;
 padding:8px 0 ;
 outline: none;
 border: 2px solid #fff;
 border-radius: 50px;
 background: transparent;
 color: #fff;
  margin-top: 20px;
 text-decoration: none;
}
.booking-btn:hover{
    color: #ff5722;
}
.users-feedback{
    padding-top: 100px ;
}
.user-review{
    text-align: center;
    box-shadow:0 0 10px 0 lightslategrey;
    padding-bottom: 50px;
}
.user-review p{
    padding: 50px 10px 10px 10px;
}
.users-feedback img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: -30px 0 20px 40%;
}
.user-review p::before{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    margin: -60px 0 40px 180px;
    

}
/* footer */
.footer{
   padding: 100px 20px;
    background-image:linear-gradient(#2d557d,#9610fd) ;
    color: #fff; 
}

.footer-logo{
  width: 150px;
  margin-top:15px ;
  margin-bottom: 15px;
}
.footer h4{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 25px;
}
.footer p{
    font-size: 15px;
    text-align: justify;
    padding-right: 35px;
}
.footer .row .icon{
    padding-right: 20px;
    font-size: 17px;
}
.footer hr{
    background: #efefef;
}
footer{
    text-align: center;
}